header {
  display: flex;
  justify-content: flex-end;

  background-color: white;
  align-items: center;
  padding: 20px;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  border: 1px solid red;
  padding: 10px;
  border-radius: 40px;
}

body {
  background-image: url(./hintergrund.jpg);
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 60px;
}

button:hover {
  background-color: darkgreen;
}

.butto {
  display: flex;
  height: 80vh;
  align-items: flex-end;
}
